:root {
    --accent-color: #1C5CB2;
    --complementary-accent-color: #6F9FDF;
    --app-background-color: #F8F8F8;
    --search-container-height: 156px;
    --result-list-height-delta: 208px
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--app-background-color)
}

.leftpane {
    float: left;
    width: 25%;
    height: 100%
}

.rightpane {
    float: right;
    width: calc(75% - 8px);
    max-height: calc(100% - 8px);
    color: var(--complementary-accent-color);
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 4px
}

.rightpane > div {
    overflow-y: auto;
    max-height: inherit;
    height: 100%
}

.searchcontainer {
    height: var(--search-container-height);
    padding: 24px;
    border-style: solid;
    border-width: 0;
    border-color: var(--accent-color);
    border-bottom-width: 4px
}

.searchbar {
    height: 36px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(111, 159, 223, 0.5);
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 2px;
    border-radius: 4px;
    padding-left: 8px;
    display: block;
    margin: auto
}

::-webkit-input-placeholder {
    color: #1d82df;
    font-weight: normal
}

.loadingthingy > img {
    display: block;
    margin: auto;
    padding-top: 100px;
    width: 100px;
    height: 100px
}

.loadingthingy > div.stat {
    margin-top: 0
}

.actuallist {
    max-height: calc(100% - var(--result-list-height-delta));
    overflow-y: auto
}

.result {
    height: 64px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 8px;
    transition: all 0.05s linear
}

.result:nth-child(even) {
    background-color: #DDD
}

.result:hover,
.result.active {
    color: white;
    background-color: var(--accent-color);
    cursor: pointer
}
.result:hover {
    background-color: var(--complementary-accent-color)
}

.ataglance {
    height: 256px;
    margin-top: 52px;
    margin-left: 96px
}

.ataglance img {
    width: 256px;
    height: 256px;
    margin-right: 32px;
    border-radius: 50%;
    float: left
}

.ataglance * {
    font-size: 24px;
    margin-bottom: 12px
}

.name {
    font-size: 48px;
    font-weight: bold
}

.content-list {
    margin-top: 16px;
    margin-left: 96px
}

.content-list span {
    font-size: 34px;
    font-weight: bold
}

.stat {
    color: grey;
    margin-top: 200px;
    font-size: 18px;
    text-align: center
}