body {
    margin: 0;
    font-family: sans-serif
}

.leftpane {
    width: 25%;
    float: left;
    height: 100%
}

.rightpane {
    background-color: #FFF;
    width: calc(75% - 8px);
    float: right;
    color: #6F9FDF;
    max-height: calc(100% - 8px);
    border-style: solid;
    border-color: #1C5CB2;
    border-width: 4px;
}

.rightpane > div {
    overflow-y: scroll;
    max-height: inherit
}

.searchcontainer {
    height: 100px;
    padding: 24px
}

.searchbar {
    height: 48px;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(111, 159, 223, 0.5);
    border-style: solid;
    border-color: #1C5CB2;
    border-width: 2px;
    border-radius: 4px;
    padding-left: 8px;
    display: block;
    margin: auto
}

.loadingthingy > img {
    display: block;
    margin: auto
}

.loadingthingy > div.stat {
    margin-top: 0
}

.actuallist {
    max-height: calc(100% - 152px);
    overflow-y: scroll;
    border-style: solid;
    border-width: 0;
    border-color: #1C5CB2;
    border-top-width: 4px;
}

.result {
    height: 64px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 8px
}

.result:nth-child(even) {
    background-color: #DDD
}

.result:hover {
    background-color: #1;
    cursor: pointer
}

.ataglance {
    height: 256px;
    margin-top: 52px;
    margin-left: 96px
}

.ataglance img {
    width: 256px;
    height: 256px;
    margin-right: 32px;
    border-radius: 50%;
    float: left
}

.ataglance * {
    font-size: 24px;
    margin-bottom: 12px
}

.name {
    font-size: 48px;
    font-weight: bold
}

.content-list {
    margin-top: 16px;
    margin-left: 96px
}

.content-list span {
    font-size: 34px;
    font-weight: bold
}

.stat {
    color: grey;
    margin-top: 200px;
    font-size: 18px;
    text-align: center
}

::-webkit-input-placeholder {
    color: #1d82df;
    font-weight: normal
}